<div class="additional">
          <ul id="menu-main-menu">
            <li class="menu-item"><a href="https://dhgrnetwork.github.io/identity.md">Ταυτότητα </a></li>
                <li class="menu-item"><a href="https://dhgrnetwork.github.io/goals.md">Σκοπός και Στόχοι </a></li>  
            <li class="menu-item"><a href="https://dhgrnetwork.github.io/structure.md">Οργανωτική δομή </a></li>      
            <li class="menu-item"><a href="https://dhgrnetwork.github.io/membership.md">Συμμετοχή στο Δίκτυο</a></li>     
            <li class="menu-item"><a href="https://dhgrnetwork.github.io/code_of_conduct.md">Αρχές συνεργασίας και συμπεριφοράς μελών εντός του δικτύου</a></li>       
            <li class="menu-item"><a href="https://dhgrnetwork.github.io/dh_gr/contact.md">Επικοινωνία</a></li>
          </ul>
        </div>
